.logo {
  padding: 0;
  /* background-color: #566573 ; */
}
.title {
  font-size: 1.6em !important;
  padding-left: 15px;
  font-weight: bold;
}
.name {
  font-size: 14px;
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  padding-top: 15px;
}
h2 {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

.form {
    margin: 20px auto;
}
.center-block {  
  display: block;  
  margin-right: auto;  
  margin-left: auto;
  margin-top: 15%;
  margin-bottom: 10%;  
}  
.jumbotron {
  background-color: white;
  background-image: url("../../assets/background.jpg") ;
  background-position: center;
  
  background-size:cover; 
}
.footer {
  background-color:lightslategray;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}